services:
  mysql:
    image: mysql:8.0
    container_name: expense-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: ExpenseTrackerDB
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: expense-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/ExpenseTrackerDB
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 1234
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    container_name: expense-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mysql_data:
