.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 320px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

.auth-card button {
  width: 100%;
  padding: 8px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}
